@import "./normalize.css";

    * {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

input {
    outline: none;
}

.clearfix:after {
    /*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}